<ion-header no-border>
  <ion-navbar color="header-back">
    <ion-title>
      상품메뉴
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item *ngFor="let order of orderList; let i = index" color="{{order.check}}">
      <ion-avatar item-start>
        <div>
        {{order.orderId}}
        </div>
      </ion-avatar>
      <h2 *ngFor="let item of order.items">{{item.title}} {{item.count}}개</h2>
      <button ion-button color="menu-back" item-end outline (click)="confirm(order)">
        {{item.countDown}}
        
      </button>
    </ion-item>

  </ion-list>
</ion-content>
